/* CARD*/
.mdl-card .demo-list-item {
  width: 250px;
}
.card-map {
  width:250px;
  height:500px;  
}
.demo-card-square.mdl-card {
  width: 250px;
  height: 500px;
}
.demo-card-square > .mdl-card__title_img {
  background:
    url('../ofc_logos/blank.jpg') bottom right 15% no-repeat #fff;
  background-position: center;  
}
.mdl-card__title {
    padding: 0px;
}
.mdl-card__title-text {
    padding-left: 5%;
    margin-top: 14%;
}
.mdl-card__supporting-text {
    background: #3f51b5;
    width:92%;
}
.mdl-card .mdl-list__item {
    padding:5px;
    color: #fff;
}
.mdl-card .mdl-list__item h4{
    padding-left:10%;
    padding-right:5%;
}
.mdl-card .mdl-list__item h6{
    opacity:0.7;
    line-height: 12px;
    font-size: 12px;    
}
.mdl-card .mdl-list__item img {
    height:32px;
}
.mdl-card .mdl-list__item h4 {
    line-height: 12px;
    font-size: 20px;
}

#service-title {
    font-size:18px;
}
#map {
  height: 100%;
}
.mdl-textfield__label {
    color: #fff;
    opacity: 0.7;
}
.mdl-textfield__input {
    border-bottom: 1px solid rgba(255,255,255,0.7);
}
.text-gradient {
    color: #fff;
    width:100%;
    height:35%;
    background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
    margin-top: auto;
}
/*INFO */
#info {
    width:30%;
    float: left;
}
#info .mdl-card__title-text {
    padding-left: 5%;
    margin-top: 9%;
    font-size: 22px;
}
#info .demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../ofc_logos/it4gov.jpg') center / cover;
}
#info .demo-card-wide > .mdl-card__menu {
  color: #fff;
}
#info .mdl-card__supporting-text {
    color: #fff;
}
/*Sidebar*/
#sidebar .mdl-list {
    width: 200px;
    width:30%;
    float: left;
}

#sidebar {
    width:30%;
    float:left;
}

/*FOOTER*/
#footer {
width: 90%;
height: 70px;
padding: 30px;
    position: absolute;
    color: #fff;
    background: #666;
}
